body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 1.1rem;
}

a {
  color: rgb(8, 70, 95);
}
.nav-bar{
  width: 40vw;
  margin: auto;
}

.nav-bar ul{
  list-style: none;
}
.nav-bar ul li{
  display: inline-block;
  margin: 0.6rem;
}

.user{
  margin-top: 0.3em; 
  display: flex;
  padding: 0.5rem;
  background: #EEE;
}

.user *{
  margin: 0.4rem;
}

.sayat{
  background: #EEE;
  margin: 0.4rem;
}

.form_user *{
  margin: 0.3rem;
}