extends layout

block content

    h1=title

    h4 Register for Scrutiny
    h3.txt-danger= error
    form.form_user(action="" method="POST")

        label(for='email') Email:
        input(type='email' name='email' id='email' required)
        br
        label(for='password') Password
        input(type='password' name='password' id='password' required)
        br
        div.form-control 
            label(for='user') www.sayatclone.com/
            input(name='user' type='text' id='user' required) 
            br
        button.btn-primary.btn(type='submit') Create
    script(src="../public/javascripts/login_local.js" crossorigin="anonymous")